extends layouts/page.pug
block title
  h2 Elige sabiamente
block pageContent
  div(class='uk-child-width-1-4@m' uk-grid='')
    div
      .uk-card.uk-card-default
        .uk-card-media-top
          img(src='/static/img/got.jpg' width='1800' height='1200' alt='')
        .uk-card-body
          h3.uk-card-title Ghost of Tsushima
          h5 MXN $1200
          <span class="uk-badge">PS4</span>
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
          button.uk-button.uk-button-secondary.uk-button-small Agregar al carrito

