extends layouts/page.pug
block title
  h2 Tu pedido
block pageContent
  div.uk-margin-top
    p Se ha enviado un email a tu correo registrado en tu cuenta!
    a(href="/") Regresar a inicio

      
      