extends ../layouts/page.pug
block title
  h2 Agregar nuevo usuario
block pageContent
  div.uk-margin-top
    p Se ha enviado un Whatsapp a tu numero registrado en tu cuenta!
    a(href="/") Regresar a inicio

      
      