extends base.pug
block content
  div(id="modal-full" class="uk-modal-full" uk-modal)
    div(class="uk-modal-dialog")
      div(class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid)
        div(class="uk-background-cover" style="background-color: #c5ddeb" uk-height-viewport)
        div(class="uk-padding-large")
          block form