extends base.pug
block content
  div(class="uk-container uk-width-1-1 uk-padding-remove uk-margin-remove")
    include ../includes/nav.pug
    div(class="uk-width-1-1 uk-margin-remove uk-align-center uk-text-break uk-padding")
      block title
      block pageContent

